<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../static/css/main2.css" rel="stylesheet"/>
    <script src="../static/js/script.js"></script>
    <title>Поступление</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <style>
        /* Your CSS styles here */
        /* Update your styles according to the new design */
    </style>
</head>
<body>
    <header>
        <div id="toggleButton">
            <span class="triPoloski"></span>
            <span class="triPoloski"></span>
            <span class="triPoloski"></span>
        </div>
        <nav class="navigation-panel" id="navPanel">
            <a href="https://2gis.kz/uralsk/firm/70000001024859345" class="nav-link">Место нахождение</a>
            <a href="C:\Users\Dima\Desktop\RVTKsite-tim\templates\about.html" class="nav-link">Поступление</a>
            <a href="#" class="nav-link">что-то</a>
            <a href="#" class="nav-link">что-то</a>
        </nav>
    </header>
    <main>
        <h1 class="college-name">РЕСПУБЛИКАНСКИЙ ВЫСШИЙ ТЕХНИЧЕСКИЙ КОЛЛЕДЖ</h1>
        <div class="college-description">
            <p class="osnova">Республиканский высший технический колледж объявляет набор абитуриентов по востребованным техническим специальностям для следующих отраслей экономики:
                <br>нефтегазовая отрасль,
    <br>системы телекоммуникации и автотранспорта,
    <br>строительство
    <br>IT-технологии с присвоением рабочей квалификации,
    <br>квалификации техника и
    <br>«прикладной бакалавр программист вычислительной техники
            </p>
            <h2 class="osnova">Выпускников 9-х классов приглашаем обучаться на бюджетной основе по специальностям:</h2>
            <ul class="osnova">
                <li>1304000 Вычислительная техника и программное обеспечение</li>
                <li>1309000 Оптическое электронное оборудование.</li>
            </ul>
            <p>По специальностям нефтегазового сектора предлагаем гранты (бесплатное обучение) от Ассоциации недропользователей.</p>
            <p>Прием документов на очную форму обучения осуществляется с 20 июня по 20 августа, на заочную форму обучения с 20 июня по 20 сентября</p>
        </div>
    </main>
    <footer>
        <!-- Footer content if any -->
    </footer>
</body>
</html>