<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../static/css/main.css" rel="stylesheet"/>
    <script src="../static/js/script.js"></script>
</head>
<body>
    <header>
        <div class="header container">
            <div class="header-logo">
                <img class="logo" src="../static/images/rvtk-logo.png" alt="logo">
            </div>
            <h1 class="colegge-name">РЕСПУБЛИКАНСКИЙ ВЫСШИЙ ТЕХНИЧЕСКИЙ КОЛЛЕДЖ</h1>
            <div class="header-nav">
                <select class="change-lang">
                    <option value="ru" selected>рус</option>
                    <option value="en">en</option>
                    <option value="каз">каз</option>
                </select>
                <a href="login.html" class="LogIn">Войти</a>
            </div>
            <div id="toggleButton">
                <span class="triPoloski"></span>
                <span class="triPoloski"></span>
                <span class="triPoloski"></span>
            </div>
        </div>
    </header>
    
    <main>
        <div class="main container">
            <div class="navigation-panel" id="navPanel">
                <a href="https://2gis.kz/uralsk/firm/70000001024859345" class="nav-link">Место нахождение</a>
            <a href="C:\Users\Dima\Desktop\RVTKsite-tim\templates\about.html" class="nav-link">Поступление</a>                <a href="#" class="nav-link">что-то</a>
                <a href="#" class="nav-link">что-то</a>
            </div>
            <div class="homepage-buttons">
                <a href="about.html" class="homepage-button" style="background-image: url('../static/images/button1.jpg');">
                    <div class="button-label">О колледже</div>
                </a>
                <a href="student.html" class="homepage-button" style="background-image: url('../static/images/button2.jpg');">
                    <div class="button-label">Студенту</div>
                </a>
                <a href="#" class="homepage-button" style="background-image: url('../static/images/button3.jpg');">
                    <div class="button-label">Абитуриенты</div>
                </a>
                <a href="contacts.html" class="homepage-button" style="background-image: url('../static/images/button4.jpg');">
                    <div class="button-label">Контакты</div>
                </a>
            </div>
        </div>
        
    </main>
    
</body>
</html>